body{
  margin: 0;
}
/* FIRST ROW */
.container{
  display: flex;
  flex-direction: column;
  background: #1F2937;
  color: white;
  width: auto;
  height: 500px;
}

.top-container{
  display: flex;
  flex-direction: row;
}

.bottom-container{
  display: flex;
  flex-direction: row;
}

.bottom-container-left{
  display: flex;
  flex-direction: column;
}

.bottom-container-right{
  display: flex;
}

/* TOP-CONTAINER */

.top-container .image{
  width: auto;
  height: 100px;
  padding-left: 150px;
  padding-bottom: 40px;
  padding-right: 500px;
}


.top-container a{
  text-decoration: none;
  color: #E5E7EB;
  padding-left: 40px;
  font-size: 10px;
  margin-top: 10px;
}

a:hover{
  color: gray;
}
a:active{
  color: rgb(101, 104, 48);
}

/* BOTTOM-LEFT-CONTAINER */

.bottom-container-left .big-text{
  font-size: 48px;
  color: #FEFAF8;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  width: 400px;
  padding-left: 150px;
}

.bottom-container-left .small-text{
  font-size: 18px;
  font-family:Georgia, 'Times New Roman', Times, serif;
  padding-left: 150px;
  width: 550px;
  margin-top: -40px;
}

.bottom-container button{
  width: 100px;
  height: 40px;
  background-color: rgb(58, 121, 229);
  margin-left: 150px;
  border-radius: 15px;
  color: #E5E7EB;
  font-size: 15px;
  border:2px solid rgb(58, 121, 229);
  font-weight: bold;
}

button:hover{
  color: black;
  background:rgb(138, 172, 237);
  border: 2px solid rgb(187, 207, 243);
  
}

button:active{
  color: black;
  background: rgb(187, 207, 243);
  border: 2px solid rgb(138, 172, 237);
}

.bottom-container-right img{
  width: 400px;
  height: 250px;
  border-radius: 25px;
}


/* ROW-2 */

.row-2 h2{
  text-align: center;
  font-size: 36px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bolder;
}

.images-text{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.images-text img{
  width: 220px;
  height: 150px;
  border-radius: 20px;
  border: 2px solid black;
}

.images-text p{
  font-size: 18px;
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  font-weight: bold;
  padding-left: 50px;
  margin-top: 0;
}

.row-2{
  background: white;
  width: auto;
  height: 300px;
}

/* ROW-3 */

.quote{
  background: #E5E7EB;
  width: auto;
  height: 250px;
}

.quote .quotation{
  font-size: 36px;
  font-weight: bolder;
  color: #1F2937;
  width: 600px;
  text-align: center;
  padding-left: 350px;
  padding-top: 70px;
  font-style: italic;
}

.quote .reference{
  text-align: center;
  padding-left: 600px;
  font-size: 15px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: -25px;
}

/* ROW-4 */

.row-4{
  display: flex;
  background: #3882F6;
  width: 750px;
  height: 110px;
  margin: 70px;
  margin-left: 250px;
  border-radius: 15px;
}

.item-1{
  display: flex;
  flex-direction: column;
  color: #E5E7EB;
}

.item-1 .main-call{
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding-left: 50px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  padding-top: 10px;
}

.item-1 .sub-call{
  font-size: 15px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding-left: 50px;
  margin-top: 0px;
  padding-top: 5px;
  opacity: 0.6;
}


.item-2 button{
  width: 130px;
  height: 40px;
  background-color: rgb(58, 121, 229);
  margin-left: 90px;
  border-radius: 15px;
  color: #E5E7EB;
  font-size: 15px;
  border:2px solid rgb(255, 255, 255);
  font-weight: bold;
  margin-top: 35px;
}

button:hover{
  color: black;
  background:rgb(138, 172, 237);
  border: 2px solid rgb(187, 207, 243);
  
}

button:active{
  color: black;
  background: rgb(187, 207, 243);
  border: 2px solid rgb(138, 172, 237);
}